<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Contact Us</title>
        <link
        rel="stylesheet" href="../styles/contact.css"/>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
        <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"/>

        <!-- icons -->
        <script src="https://kit.fontawesome.com/386e64cde3.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="navbar-logo">
                    <a href="../index.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
                            <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
                        </svg>
                        <span>SINIIAJA.</span>
                    </a>
                </div>

                <div class="navbar-nav">
                    <a href="../index.html">Home</a>
                    <a href="../views/profile.html">About Us</a>
                    <a href="../views/services.html">Services</a>
                    <a href="../views/reservation.html">Reservation</a>
                    <a href="../views/contactus.html" class="active">Contact Us</a>
                </div>
            </nav>
        </header>
        <section>
            <div class="contact-container">
                <div class="contact-image">
                    <img src="../assets/CustomerService.png" alt="customer service"/>
                </div>
                <div class="contact-form">
                    <div class="contact-text-container">
                        <h4>
                            Need Help?
                            <br/>
                            <span>Ask SINIIAJA</span>
                        </h4>
                    </div>
                    <div class="contact-sub-text-container">
                        <p>
                            Have questions or need consultation?
                            <br/>
                            We're here to help.
                        </p>
                    </div>
                    <div class="contact-item">
                        <i class="fa-solid fa-phone">
                            <span>(+62) 856 9737 5021</span>
                        </i>
                        <i class="fa-solid fa-envelope">
                            <span>cs@siniiaja.id</span>
                        </i>
                    </div>
                    <div class="button" id="button">
                        <a href="mailto:siniajadulu@example.com">Contact us</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- FOOTER AND COPYRIGHT -->
        <div
            class="copyright">
            <!-- <div class="footer-left">#404nf</div> -->
            <div class="footer-cp">
                Copyright &copy; 2024 by
                <span id="author">SINIIAJA Developers</span>. All Rights
                            Reserved.
            </div>
            <!-- <div class="footer-summary"><span id="summaryid">~Summary</span></div> -->
        </div>
        <!-- FOOTER END -->

        <!-- POP UP START -->
        <div id="popup" class="popup">
            <div class="popup-content">
                <div class="profile">
                    <img src="./assets/logo/hero-image.jpg" alt="`s photo"/>
                    <h2>Developed by Altaf, Kanda & Naufal</h2>
                    <p>
                        For Business Inquiries, feel free to reach me out directly at:
                        <a href="https://wa.me/6285884011606" target="_blank" rel="noopener noreferrer">https://wa.me/6285884011606</a>
                        <p>You also could check my personal Github pages at:
                            <a href="https://github.com/KndaBimaa17" target="_blank" rel="noopener noreferrer">https://github.com/KndaBimaa17</a>
                        </p>
                    </p>
                </div>
                <button id="closeBtn">Close</button>
            </div>
        </div>
        <!-- POP UP END -->
    </body>
</html>
