:root {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --accent-color: #00adb5;
  --neutral-color: #eeeeee;
  --neutral-color-50: rgba(255, 255, 255, 0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2%;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  color: var(--neutral-color);
}

.navbar-logo a {
  font-family: "Playfair Display", serif;
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--neutral-color);
  font-style: italic;
}

.navbar-logo a span {
  font-weight: normal;
  margin: auto 0;
}

.navbar > div:last-child {
  font-size: 1.4rem;
  font-weight: normal;
  cursor: pointer;
}

aside {
    bottom: 0;
  min-height: 100vh;
  width: 15%;
  position: absolute;
  padding: 10rem 2% 2rem;
  background-color: #1d232c;
  position: fixed;
}

.aside-inner {
  padding: 1.4rem 0;
}

.aside-inner a {
  font-size: 1.8rem;
  color: var(--neutral-color);
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 10rem 2% 6rem 17%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

table {
    margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 3px solid black;
}

th,
td {
  padding: 1rem;
  text-align: center;
}

th {
  background-color: var(--primary-color);
  color: var(--neutral-color);
}

button {
  margin: 0;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}

#formContainer {
  margin-top: 20px;
  padding: 2rem;
  border: 1px solid #000000;
  width: 100%;
}

#paymentForm {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 1rem 2rem;
}

#payment-btn {
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  box-shadow: 2px 3px 4px var(--secondary-color);
}

#payment-btn:hover {
    background-color: rgba(34, 40, 49, 0.5);
    color: var(--primary-color);
}

#payment_name,
#payment_account,
#payment_image_id {
  background-color: var(--secondary-color);
  color: var(--neutral-color);
  padding: 0.6rem 1.2rem;
}

#submit-btn,
#cancle-btn {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgb(33, 201, 0);
    color: var(--neutral-color);
    box-shadow: 3px 4px 5px var(--secondary-color);
}

#cancle-btn {
    background-color: red;
}

#submit-btn:hover {
    background-color: rgba(33, 201, 0, 0.5);
    color: var(--primary-color);
}

#cancle-btn:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: var(--primary-color);
}

#edit-btn,
#delete-btn {
    padding: 0.6rem 1.2rem;
    border-radius: none;
    background-color: orange;
    color: var(--neutral-color);
}

#delete-btn {
    background-color: orangered;
    margin-left: 0.5rem;
}

#delete-btn:hover {
    background-color: rgba(255, 68, 0, 0.5);
    color: var(--primary-color);
}

#edit-btn:hover {
    background-color: rgba(255, 166, 0, 0.5);
    color: var(--primary-color);
}